<!DOCTYPE html>
<html>
  <body>

    <% if (username === undefined) { %>
    ログインしたかったら<a href="/login">こちら</a>へ。
    <% } else { %>
    ログオフしたかったら<a href="/logoff">こちら</a>へ。
    <% } %>
  </body>
</html>
